models/random_forest_regressor_v1.joblib filter=lfs diff=lfs merge=lfs -text
data/walmart_dados_processados.csv filter=lfs diff=lfs merge=lfs -text
data/online_retail_II.csv filter=lfs diff=lfs merge=lfs -text
